<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testing"
             type="Testing.Common.TestingSection, Testing.Common"
             allowLocation="true"
             allowDefinition="Everywhere"/>
  </configSections>
  <testing baseUrl="http://localhost" browser="firefox">
    <driver implicitlyWait="5" setPageLoadTimeout="60" setScriptTimeout="5" />
    <firefox path="C:\Program Files\Mozilla Firefox 47\firefox.exe" />
    <!--<remote url="http://localhost:4444/wd/hub" />-->
  </testing>
</configuration>
